# Required
pyrogram
TgCrypto
python-dotenv
hachoir
ffmpeg-python
beautifulsoup4==4.9.1
bs4==0.0.1
cfscrape

# DDL
pySmartDL
requests

# Database
dnspython
motor

# Others
psutil
js2py
# cfscrape removed due to compatibility issue with urllib3
lk21
lxml
httpx
urllib3==1.26.15  # Downgraded for compatibility if cfscrape is used

# Google Drive
google-api-core
google-auth
oauth2client<4.0.0
google~=3.0.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httplib2==0.18.0
